@charset "UTF-8";
#loginTop {
  height: 130px;
  background: #fff;
}
#loginTop .loginTopCenter {
  width: 1190px;
  height: 74px;
  line-height: 74px;
  margin: 10px auto 0;
  position: relative;
  padding: 36px 0 20px;
}
#loginTop .loginTopCenter a {
  line-height: 30px;
  float: left;
}
#loginTop .loginTopCenter .loginUser {
  font-size: 18px;
  float: left;
  color: #444;
}
#loginTop .loginTopCenter .loginUser i {
  color: #c9c9c9;
  padding-right: 15px;
}
#loginTop .loginTopCenter .loginVip {
  font-size: 12px;
  float: right;
  color: #e91456;
}
#loginTop .loginTopCenter .loginVip p {
  border: 1px solid #E91456;
  height: 30px;
  line-height: 30px !important;
  position: relative;
  right: 0;
  top: 20px;
}
#loginTop .loginTopCenter .loginVip p i {
  float: left;
  color: #444;
  padding: 0 5px;
}
#loginTop .loginTopCenter .loginVip p .register {
  padding: 0 5px;
  color: #e91456;
}

/*注册主体*/
#Register {
  background: #eeee;
}
#Register .RegisterCenter {
  width: 1190px;
  height: 377px;
  margin: 30px auto 20px;
  background: #FFFFFF;
}
#Register .RegisterCenter .RegisterLeft {
  float: left;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain {
  width: 435px;
  height: 377px;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation {
  height: 36px;
  line-height: 36px;
  padding: 20px 0;
  position: relative;
  font-size: 12px;
  color: #444444;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation span {
  display: inline-block;
  width: 80px;
  text-align: left;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation input {
  width: 275px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 5px;
  border-color: #E21357;
  outline: none;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation .userJudage {
  position: absolute;
  width: 120px;
  height: 34px;
  left: 400px;
  top: 23px;
  font-size: 16px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation .passJudage {
  position: absolute;
  width: 120px;
  height: 34px;
  left: 400px;
  top: 23px;
  font-size: 16px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .RegisterMainInformation .pass1Judage {
  position: absolute;
  width: 120px;
  height: 34px;
  left: 400px;
  top: 23px;
  font-size: 14px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register {
  width: 277px;
  height: 67px;
  margin: 0 0 0 119px;
  float: left;
  text-align: left;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p {
  height: 36px;
  line-height: 36px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p input {
  height: 36px;
  line-height: 36px;
  float: left;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p .servicePromise {
  vertical-align: middle;
  float: left;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p .servicePromise a {
  font-size: 12px;
  color: #444444;
  line-height: 36px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p .servicePromise a:hover {
  color: #e21357;
  text-decoration: underline;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p .Pass {
  width: 274px;
  color: #fff;
  border-color: #e21357;
  background: #e21357;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Register p .Pass:hover {
  border-color: red;
  background: red;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Chance {
  width: 270px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #444444;
  float: left;
  margin-left: 46px;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Chance a {
  color: red;
}
#Register .RegisterCenter .RegisterLeft .RegisterMain .Chance a:hover {
  text-decoration: underline;
}
#Register .RegisterCenter .RegisterRight {
  float: left;
}
#Register .RegisterCenter .RegisterYes {
  font-size: 30px;
  text-align: center;
}

/*# sourceMappingURL=register.css.map */
