/*页面导航*/
#nav{
    border-bottom: 2px solid #e91456;
    position: relative;
    .navCenter{
        width: 1000px;
        height: 34px;
        line-height: 34px;
        margin: 0 auto;
        
        ul{
            margin-left: 120px;
            li{
                display: inline-block;
                a{
                    font-size: 17px;
                    text-decoration: none;
                    font-weight: 600;
                    color:#444444
                }
            }
            .navName{
                padding: 0 20px;
            }
            li:hover a{
                color: #e91456;
            }
            .navColor{
                a{
                   color: #e91456; 
                }
            }
            .navPhone{
                margin-right: 100px;
                color: #E91456;
                font-weight: bold;
                float: right;
                .navHot{
                    color: #000000;
                }
            }
        }
        .AllCart{
            width: 190px;
            position: absolute;
            left: 32px;
            bottom: 0;
            font-size: 18px;
            color: #ffffff;
            background: #e91456;
            padding-left: 10px;
            font-weight: 600 !important;
        }
    }
}


/*商品列表页*/
.CartMainCenter{
    width: 1190px;
    margin: 0 auto;
    .CartMainCenterTop{
        height: 30px;
        line-height: 30px;
        text-align: left;
        padding: 0 25px;
    }
    .CartList{
        text-align: left;
        .CartListRight{
            width: 990px;
            float: right;
            border: 1px solid #E8E8E7;
            .CartListRightNav{
               border-bottom: 1px solid #E8E8E7; 
               padding: 5px 5px 5px 15px;
               font-size: 12px;
               p{
                   height: 40px;
                   line-height: 40px;
                   a:first-child{
                       color: #fff;
                   }
                   a{
                       color: #444;
                   }
                   a:hover{
                       color: #e91456;
                       text-decoration: underline;
                   }
               }
            }
            .CartListRightSort{
                border-bottom: 1px solid #E8E8E7;
                ul{
                    width: 100%;
                    float: left;
                    li{
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        float: left;
                        padding: 5px 5px 5px 15px;
                        span{
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 5px;
                            background: #eee;
                        }
                        a{
                            color: #444;
                        }
                        a:hover{
                           color: #e91456;
                           text-decoration: underline; 
                        }
                    }
                    .Sort{
                        font-weight: bold;
                    }
                }
            }
            .CartMainInformation{
                display: block;
                ul{
                    width: 990px;
                    padding-top: 10px;
                    float: left;
                    li{
                        display: inline-block;
                        height: 335px;
                        width: 228px;
                        border: 1px solid #ffffff;
                        margin-left: 14px;
                        float: left;
                        text-align: center;
                        margin-bottom: 5px;
                        position: relative;
                        .InformationCart{
                            height: 92px;
                            position: absolute;
                            bottom: 0;
                            .NameCart{
                                width: 228px;
                                float: left;
                                padding: 5px;
                                text-align: left;
                                a{
                                    font-size: 12px;
                                    color: #444444;
                                }
                                a:hover{
                                    color: #e91456;
                                    text-decoration: underline;
                                }
                            }
                            .PriceCart{
                                font-size: 14px;
                                float: left;
                                color: #e91456;
                                padding: 5px;
                            }
                            .NumCart{
                                float: right;
                                font-size: 12px;
                                padding: 5px;
                            }
                            .Chance{
                                height: 42px;
                                padding: 5px;
                                float: left;
                                margin-left: 20px;
                                a{
                                    display: inline-block;
                                    border: 1px solid #d0d0d0;
                                    background: #f3f3f3;
                                    color: #333;
                                    padding: 0 12px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                    font-size: 14px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
            .CartMainInformation2{
                display: none;
                ul{
                    width: 990px;
                    padding-top: 10px;
                    float: left;
                    li{
                        height: 335px;
                        width: 228px;
                        border: 1px solid #ffffff;
                        margin-left: 14px;
                        float: left;
                        text-align: center;
                        margin-bottom: 5px;
                        position: relative;
                        .InformationCart{
                            height: 92px;
                            position: absolute;
                            bottom: 0;
                            .NameCart{
                                width: 228px;
                                float: left;
                                padding: 5px;
                                text-align: left;
                                a{
                                    font-size: 12px;
                                    color: #444444;
                                }
                                a:hover{
                                    color: #e91456;
                                    text-decoration: underline;
                                }
                            }
                            .PriceCart{
                                font-size: 14px;
                                float: left;
                                color: #e91456;
                                padding: 5px;
                            }
                            .NumCart{
                                float: right;
                                font-size: 12px;
                                padding: 5px;
                            }
                            .Chance{
                                height: 42px;
                                padding: 5px;
                                float: left;
                                margin-left: 20px;
                                a{
                                    display: inline-block;
                                    border: 1px solid #d0d0d0;
                                    background: #f3f3f3;
                                    color: #333;
                                    padding: 0 12px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                    font-size: 14px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
            .CartMainInformation3{
                display: none;
                ul{
                    width: 990px;
                    padding-top: 10px;
                    float: left;
                    li{
                        height: 335px;
                        width: 228px;
                        border: 1px solid #ffffff;
                        margin-left: 14px;
                        float: left;
                        text-align: center;
                        margin-bottom: 5px;
                        position: relative;
                        .InformationCart{
                            height: 92px;
                            position: absolute;
                            bottom: 0;
                           .NameCart{
                                width: 228px;
                                float: left;
                                padding: 5px;
                                text-align: left;
                                a{
                                    font-size: 12px;
                                    color: #444444;
                                }
                                a:hover{
                                    color: #e91456;
                                    text-decoration: underline;
                                }
                            }
                            .PriceCart{
                                font-size: 14px;
                                float: left;
                                color: #e91456;
                                padding: 5px;
                            }
                            .NumCart{
                                float: right;
                                font-size: 12px;
                                padding: 5px;
                            }
                            .Chance{
                                height: 42px;
                                padding: 5px;
                                float: left;
                                margin-left: 20px;
                                a{
                                    display: inline-block;
                                    border: 1px solid #d0d0d0;
                                    background: #f3f3f3;
                                    color: #333;
                                    padding: 0 12px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                    font-size: 14px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
            .PageNum{
                width: 990px;
                height: 60px;
                line-height: 60px;
                float: left;
                position: relative;
                ul{
                    position: absolute;
                    bottom: 0;
                    left: 300px;
                    li{
                        float: left;
                        margin:0 10px;
                        a{
                            color: #444444;
                        }
                        a:hover{
                            color: #e91456;
                            text-decoration: underline; 
                        }
                    }
                }
            }
        }
    }
}
