/*页面导航*/
#nav{
    border-bottom: 2px solid #e91456;
    position: relative;
    .navCenter{
        width: 1000px;
        height: 34px;
        line-height: 34px;
        margin: 0 auto;
        
        ul{
            margin-left: 120px;
            li{
                display: inline-block;
                a{
                    font-size: 17px;
                    text-decoration: none;
                    font-weight: 600;
                    color:#444444
                }
            }
            .navName{
                padding: 0 20px;
            }
            li:hover a{
                color: #e91456;
            }
            .navPhone{
                margin-right: 100px;
                color: #E91456;
                font-weight: bold;
                float: right;
                .navHot{
                    color: #000000;
                }
            }
        }
        .AllCart{
            width: 190px;
            position: absolute;
            left: 32px;
            bottom: 0;
            font-size: 18px;
            color: #ffffff;
            background: #e91456;
            padding-left: 10px;
            font-weight: 600 !important;
        }
    }
}


/*详情页MainTop*/
#detailMainTop{
    height: 40px;
    .detailMainTitle{
        width: 1190px;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        margin-bottom: 6px;
        span{
            font-size: 12px;
            color: #444;
        }
    }
}


/*商品详情购买*/
#detailCartMain{
    .detailCartBuy{
        width: 1190px;
        margin: 0 auto;
        .detailMainLeft{
            float: left;
            .BigCartImg{
                border:1px solid #E8E8E7;
                width: 400px;
                height: 400px;
                position: relative;
                li{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .SmallCartImg{
                width: 410px;
                height: 66px;
                margin: 8px 0;
                li{
                    float: left;
                    border: 1px solid #ccc;
                    margin-right: 6px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
            .CartShare{
                .ShareTo{
                    width: 48px;
                    height: 28px;
                    line-height: 28px;
                    float: left;
                    font-size: 12px;
                }
                .ShareAddress{
                    a{
                        float: left;
                        font-size: 12px;
                        padding-left: 17px;
                        line-height: 16px;
                        height: 16px;
                        background: url(../images/detail/icons_0_16.png) no-repeat;
                        cursor: pointer;
                        margin: 6px 6px 6px 0;
                    }
                    .weixin{
                        background-position: 0 -1612px;
                    }
                    .qzone{
                        background-position: 0 -52px;
                    }
                    .sina{
                        background-position: 0 -104px;
                    }
                    .qq{
                        background-position: 0 -260px;
                    }
                }
            }
        }
        .detailMainRight{
            width: 740px;
            min-height: 360px;
            margin-left: 20px;
            float: left;
            position: relative;
            .detailCartPrice{
                ul{
                    
                    margin-top: 10px;
                    background: #eeeeee;
                    text-align: left;
                    li{
                        width: 740px;
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        .integral{
                            width: 130px;
                            padding: 0 25px;
                            line-height: 40px;
                            display: inline-block;
                            box-sizing: border-box;
                        }
                    }
                }
            }
            .detailCartSize{
                ul{
                   text-align: left; 
                   li{
                       .size{
                           height: 40px;
                           line-height: 40px;
                           width: 130px;
                           padding: 0 25px;
                           float: left;
                           text-align: left;
                           box-sizing: border-box;
                       }
                      ol{
                          display: inline-block;
                           max-height: 120px;
                            width: 610px;
                            overflow: hidden;
                            margin: 12px 0;
                            text-align: left;
                            span{
                                display: inline-block;
                                margin: 8px 0;
                            }
                       }
                   }
                }
            }
            .detailCartNum{
                border-top: 1px solid #E8E8E7;
                ul{
                    margin: 5px 0;
                    float: left;
                    text-align: left;
                    li{
                        height: 40px;
                        line-height: 40px;
                        text-align: left;
                        .size{
                            height: 40px;
                           line-height: 40px;
                           width: 130px;
                           padding: 0 25px;
                           float: left;
                           text-align: left;
                           box-sizing: border-box;
                        }
                        .reduce{
                            border-radius: 50%;
                            box-sizing: border-box;
                            display: inline-block;
                            font-size: 12px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            width: 24px;
                            color: #555;
                            background-color: #eee;
                            color: #555;
                        }
                        #num{
                            width: 47px;
                            height: 24px;
                            line-height: 24px;
                            margin: 0 10px;
                            vertical-align: middle;
                            text-align: center;
                        }
                        .add{
                            border-radius: 50%;
                            box-sizing: border-box;
                            display: inline-block;
                            font-size: 12px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            width: 24px;
                            background-color: #eee;
                            color: #555;
                        }
                    }
                }
            }
            .BuyNow{
                height: 40px;
                line-height: 40px;
                bottom: -40px;
                left: 0;
                position: absolute;
                float: left;
                .Buy{
                    width: 150px;
                    font-size: 14px;
                    text-align: center;
                    vertical-align: middle;
                    box-sizing: content-box;
                    padding: 0 12px;
                    height: 30px;
                    line-height: 30px;
                    border:1px solid #d0d0d0;
                    background: #f3f3f3;
                    color: #333;
                    cursor: pointer;
                }
                .Buy:hover{
                  background: #e7e7e7;  
                }
                .addCart{
                   width: 150px;
                    font-size: 14px;
                    text-align: center;
                    vertical-align: middle;
                    box-sizing: content-box;
                    padding: 0 12px;
                    height: 30px;
                    margin: 0 10px;
                    line-height: 30px;
                    border:1px solid #e21357;
                    background: #e21357;
                    color: #fff; 
                    cursor: pointer;
                }
                .addCart:hover{
                    background: #cc1c23;
                }
                .collect{
                     font-size: 14px;
                    text-align: center;
                    vertical-align: middle;
                    box-sizing: content-box;
                    padding: 0 12px;
                    height: 30px;
                    margin: 0 10px;
                    line-height: 30px;
                    border:1px solid #d0d0d0;
                    background: #F3F3F3;
                    color: #333; 
                    cursor: pointer;
                }
                .collect:hover{
                  background: #e7e7e7;  
                }
            }
        }
    }
}

/*最佳搭配*/
#best{
    height: 40px;
    .bestCenter{
        width: 1190px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        span{
            height: 40px;
            line-height: 40px;
            display: inline-block;
            padding: 0 25px;
            background: #eee;
            box-sizing: border-box;
            color: #444;
            font-size: 14px;
        }
    }
}


/*商品介绍*/
#introduce{
    margin-top: 20px;
    .introduceCenter{
        width: 1190px;
        margin: 0 auto;
        .introduceLeft{
            width: 190px;
            float: left;
            .introduceLeftTitle{
                height: 40px;
                line-height: 40px;
                background: #eeeeee;
                text-align: left;
                .way{
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    padding: 0 25px;
                }
            }
            ul{
                .wei{
                    border-bottom: 1px solid #E8E8E7;
                    position: relative;
                    img{
                        width: 100%;
                    }
                }
                li{
                    border-bottom: 1px solid #E8E8E7;
                    .cartname{
                        padding: 5px;
                        text-align: left;
                    }
                    .cartprice{
                        color: #e91456;
                        padding: 5px;
                        width: 100%;
                    }
                }
            }
        }
        .introduceRight{
            width: 990px;
            border: 1px solid #E8E8E7;
            float: right;
            .introduceRightTop{
                width: 100%;
                .introduceRightTitle{
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #eeeeee;
                    li{
                        width: 194px;
                        overflow: hidden;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        span{
                            display: inline-block;
                            top: -1px;
                            left: 0px;
                            height: 12px;
                            width: 196px;
                            position: absolute;
                        }
                        .bgColor1{
                             background: url(../images/detail/red.png) no-repeat;
                        }
                        .bgColor{
                             background: url(../images/detail/gray.png) no-repeat;
                        }
                    }
                }
            }
            .introduceRightBottom{
                background: #F8F8F8;
                padding-top: 20px;
                .introduceConcent{
                    width: 990px;
                    margin: 0 auto;
                    .introduceImg{
                        line-height: 26px;
                        img{
                            margin: 0 auto;
                        }
                        li{
                            .title{
                                height: 40px;
                                line-height: 40px;
                                background: #eee;
                                text-indent: 15px;
                            }
                            .content{
                                text-indent: 15px;
                                line-height: 26px;
                                font-size: 14px;
                            }
                            a{
                                color: #444;
                            }
                        }
                    }
                }
            }
        }
    }
}
