/*页面导航*/
#nav{
    border-bottom: 2px solid #e91456;
    .navCenter{
        width: 1000px;
        height: 34px;
        line-height: 34px;
        margin: 0 auto;
        ul{
            margin-left: 120px;
            li{
                display: inline-block;
                a{
                    font-size: 17px;
                    text-decoration: none;
                    font-weight: 600;
                    color:#444444
                }
            }
            li:hover a{
               color: #e91456;  
            }
            .navName{
                padding: 0 20px;
            }
            .navColor{
                a{
                   color: #e91456; 
                }
            }
            .navPhone{
                margin-right: 100px;
                color: #E91456;
                font-weight: bold;
                float: right;
                .navHot{
                    color: #000000;
                }
            }
        }
    }
}

/*列表页banner图*/
#listBanner{
    height: 357px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    .listBannerCenter{
        width: 1200px;
        margin: 0 auto;
    }
    ol{
        bottom: 20px;
        position: absolute;
        left: 0;
        right: 0;
        li{
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url(../images/index/orddetailok.png);
            margin-right: 10px;
            line-height: 20px;
            color: white;
            text-align: center;
        }
    }
}

/*列表页center三个商品*/
#listBannerBottom{
    height: 148px;
    .listBannerBottomCenter{
        width: 1190px;
        height: 148px;
        margin: 0 auto;
        border: 1px solid #E8E8E7;
        ul{
            width: 1190px;
            text-align: center;
            li{
                width: 390px;
                float: left;
                position: relative;
                padding-left: 5px;
                .listBannerInformation{
                    width: 200px;
                    height: 143px;
                    float: left;
                    position: relative;
                    .listBannerPrice{
                        height: 30px;
                        line-height: 30px;
                        color: #e91456;
                        margin-top: 20px;
                        padding:5px;
                        font-size: 36px;
                        float: left;
                    }
                    .listBannerName{
                        right: 0;
                        bottom: 5px;
                        width: 150px;
                        position: absolute;
                    }
                }
            }
        }
    }
}

#listMain{
    height: 1522px;
    .listMainCenter{
        width: 1190px;
        height: 1522px;
        margin: 0 auto;
        position: relative;
        .listMainCenterLeft{
            width: 970px;
            float: left;
            .listMainCenterLeftTitle{
                width: 970px;
                height: 40px;
                line-height: 40px;
                border-bottom: 2px solid #E91456;
                padding: 0 5px;
                margin-top: 10px;
                float: left;
                .newCart{
                    float: left;
                    font-size: 18px;
                    color: #444444;
                }
                .moreCart{
                    font-size: 12px;
                    float: right;
                }
            }
            .cart-Information{
                height: 321px;
                width: 970px;
                float: left;
                padding: 5px;
                .cart-List{
                    height: 320px;
                    margin-left: 13px;
                    display: inline-block;
                    float: left;
                    position: relative;
                    .cart-List-Information{
                        padding-bottom: 10px;
                        position: absolute;
                        left: 0;bottom: 0;
                        .cart-Price{
                            width: 218px;
                            height: 30px;
                            line-height: 30px;
                            color: #e91456;
                            font-size: 14px;
                            float: left;
                        }
                        .cart-Name{
                            padding: 5px;
                            font-size: 12px;
                            float: left;
                            a{
                                color: #444;
                            }
                        }
                    }
                }
            }
            .cart-Information2{
                height: 321px;
                width: 970px;
                float: left;
                padding: 5px;
                .cart-List{
                    height: 320px;
                    margin-left: 13px;
                    display: inline-block;
                    float: left;
                    position: relative;
                    .cart-List-Information{
                        padding-bottom: 10px;
                        position: absolute;
                        left: 0;bottom: 0;
                        .cart-Price{
                            width: 218px;
                            height: 30px;
                            line-height: 30px;
                            color: #e91456;
                            font-size: 14px;
                            float: left;
                        }
                        .cart-Name{
                            padding: 5px;
                            font-size: 12px;
                            float: left;
                            a{
                                color: #444;
                            }
                        }
                    }
                }
            }
            .cart-Information3{
                height: 321px;
                width: 970px;
                float: left;
                padding: 5px;
                .cart-List{
                    height: 320px;
                    margin-left: 13px;
                    display: inline-block;
                    float: left;
                    position: relative;
                    .cart-List-Information{
                        padding-bottom: 10px;
                        position: absolute;
                        left: 0;bottom: 0;
                        .cart-Price{
                            width: 218px;
                            height: 30px;
                            line-height: 30px;
                            color: #e91456;
                            font-size: 14px;
                            float: left;
                        }
                        .cart-Name{
                            padding: 5px;
                            font-size: 12px;
                            float: left;
                            a{
                                color: #444;
                            }
                        }
                    }
                }
            }
            .cart-Information4{
                height: 321px;
                width: 970px;
                float: left;
                padding: 5px;
                .cart-List{
                    height: 320px;
                    margin-left: 13px;
                    display: inline-block;
                    float: left;
                    position: relative;
                    .cart-List-Information{
                        padding-bottom: 10px;
                        position: absolute;
                        left: 0;bottom: 0;
                        .cart-Price{
                            width: 218px;
                            height: 30px;
                            line-height: 30px;
                            color: #e91456;
                            font-size: 14px;
                            float: left;
                        }
                        .cart-Name{
                            padding: 5px;
                            font-size: 12px;
                            float: left;
                            a{
                                color: #444;
                            }
                        }
                    }
                }
            }
        }
        .listMainCenterRight{
            width: 190px;
            height: 824px;
            float: left;
            margin-left: 23px;
            .Hot-Sell{
                height: 40px;
                line-height: 40px;
                margin-top: 7px;
                position: relative;
                ul{
                    position: absolute;
                    top: 40px;
                }
            }
        }
    }
}










































