
/*登录页面顶部样式*/
#loginTop{
    height: 130px;
    .loginTopCenter{
        width: 1190px;
        height: 74px;
        line-height: 74px;
        margin: 10px auto 0;
        position: relative;
        padding: 36px 0 20px;
        a{
            line-height: 74px;
            float: left;
        }
        .loginUser{
            font-size: 18px;
            float: left;
            color: #444;
            i{
                color: #c9c9c9;
                padding-right: 15px;
            }
        }
        .loginVip{
            font-size: 12px;
            float: right;
            color: #e91456;
            i{
               color: #c9c9c9; 
               padding: 0 5px;
            }
            a{
                color: #e91456;
            }
        }
    }
}


/*登陆页面主体样式*/
#loginCenter{
    height: 377px;
    .loginMain{
        width: 1200px;
        height: 377px;
        margin: 30px auto 20px;
        background: green;
        .loginMainLeft{
            float: left;
            img{
                width:852px;
                height: 377px;
            }
        }
        .loginMainRight{
            width: 347px;
            height: 377px;
            margin: 0 auto;
            background: #ffffff;
            float: right;
            text-align: center;
            .loginNum{
                height: 72px;
                position: relative;
                .loginNumTop{
                    width: 275px;
                    height: 36px;
                    line-height: 36px;
                    margin-left: 36px;
                    .vip{
                        float: left;
                        font-size: 14px;
                        color: #444444;
                    }
                }
                #user{
                    width: 275px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .loginPassword{
                height: 36px;
                line-height: 36px;
                position: relative;
                margin: 16px 0;
                #password{
                    width: 275px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .yanzheng{
                width: 277px;
                height: 36px;
                line-height: 36px;
                margin: 15px auto;
                position: relative;
                .yanzhengNum{
                    position: absolute;
                    left: 8px;
                    top: 0;
                    vertical-align: middle;
                }
                #yanNum{
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                    float: left;
                }
            }
            .UserLogin{
                width: 277px;
                text-align: left;
                margin: 0 auto;
                p{
                    height: 36px;
                    line-height: 36px;
                    font-size: 12px;
                }
                a{
                    color: #444444;
                }
                #btn{
                    width: 277px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    color: #fff;
                    text-decoration: none;
                    background: #E91456;
                    cursor: pointer;
                    font-size: 14px;
                    outline: none;
                    text-align: center;
                }
            }
            .loginRightBottom{
                width: 340px;
                height: 88px;
                .tip{
                    display: inline-block;
                    width: 100%;
                    border-bottom: 1px solid #E8E8E7;
                    padding-top: 20px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                }
            }
        }
    }
}









