html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
html,body{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #444444;
    width: 100%;
}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
b,strong{font-weight:100;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
img{display:block;border:0;}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}


/*头部样式*/
#top{
    height: 36px;
    background: #f7f7f7;
    .topAll{
        width: 1190px;
        height: 26px;
        margin: 0 auto;
        padding: 5px;
        .topAllLeft{
            width: 230px;
            height: 28px;
            line-height: 28px;
            margin-right: 10px;
            text-align: center;
            vertical-align: middle;
            float: left;
            position: relative;
            .topPhone{
                position: absolute;
                top: 3px;
                height: 21px;
                line-height: 21px;
                .phoneImg{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    background: url(../images/index/ind-tel.png) no-repeat;
                    vertical-align: middle;
                }
                .phoneNum{
                    font-size:14px;
                    font-weight: bold;
                    color: #e91456;
                }
            }
        }
        .topAllCenter{
           float: left;
           .centerLeft{
               margin-right: 10px;
           }
           span{
               line-height: 26px;
               text-align: center;
               a{
                   color: #333333;
               }
           }
        }
        .topAllRight{
            height: 26px;
            float: right;
            line-height: 26px;
            li{
                float: left;
                .phoneLast{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right:4px ;
                    background: url(../images/index/ind-mobile.png) no-repeat;
                    vertical-align: middle;
                }
                a{
                    color: #333333;
                }
            }
            .li1{
                margin-right: 10px;
            }
        }
    }
}


/*页面logo*/
#logo{
    width: 1190px;
    height: 74px;
    line-height: 74px;
    margin:10px auto 0;
    position: relative;
    .logoLeft{
        width: 196px;
        height: 74px;
        float: left;
        margin-right: 146px;
    }
    .logoSearch{
        margin-top:0 ;
        margin-left: 73px;
        line-height: 27px;
        padding-top: 20px;
        float: left;
        .search-box{
            border: 1px solid #E91456;
            .searchBoxLeft{
                width: 320px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                padding-left: 5px;
                font-size: 12px;
                border: 0;
                vertical-align: middle;
                outline: none;
            }
            .searchButton{
                margin-left: -6px;
                outline: none;
                font-size: 14px;
                height: 32px;
                line-height: 32px;
                border: 0;
                font-weight: bold;
                background: #e21357;
                color: #fff;
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                padding: 0 12px;
                .searchImg{
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    background: url(../images/index/search.png);
                    vertical-align: middle;
                    margin-right: 12px;
                }
            }
        }
    }
    .logoRight{
        position: absolute;
        right: 0;
        top: 0;
        .shopping{
            width: 136px;
            height: 28px;
            line-height: 28px;
            margin: 20px 0 23px;
            padding: 0 10px;
            border: 1px solid #E8E8E7;
            .shopImg{
                display: inline-block;
                width: 16px;
                height: 13px;
                margin-right: 25px;
                background: url(../images/index/cart.png);
                vertical-align: middle;
                position: relative;
                .shopNum{
                    position: absolute;
                    display: inline-block;
                    height: 15px;
                    line-height: 15px;
                    width: 15px;
                    font-size: 10px;
                    top: -5px;
                    right: -14px;
                    text-align: center;
                    background: url(../images/index/anniu.png);
                    color: #ffffff;
                }
            }
        }
    }
}

/*页面底部样式*/
#Bottom{
    margin-top: 20px;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    .bottomLine{
        border-bottom: 2px solid #e91455;
        height: 0;
        margin-bottom: 10px;
    }
    .BottomTop{
        height: 46px;
        margin-bottom: 10px;
        .BottomImg{
            width: 1200px;
            height: 46px;
            overflow: hidden;
            margin: 0 auto;
            background: url(../images/index/foot_info.jpg) no-repeat scroll 0 0;
        }
    }
    .BottomBottom{
        padding: 10px 0;
        height: 150px;
        .BottomCenter{
            width: 1200px;
            margin: 0 auto;
            .erweima{
                float: left;
                width: 123px;
                height: 123px;
                background: url(../images/index/jlg_2d.jpg) no-repeat scroll 0 0;
                overflow: hidden;
                margin-right: 20px;
                margin-top: 13px;
            }
            .BottomService{
                float: left;
                margin-left: 30px;
                border: 1px solid #ccc;
                border-bottom: none;
                border-top: none;
                padding-left: 20px;
                .serviceList{
                    float: left;
                    width: 100px;
                    margin: 0 20px;
                    strong{
                        display: block;
                        height: 30px;
                        width: 120px;
                        line-height: 30px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    a{
                        display: block;
                        height: 30px;
                        width: 120px;
                        line-height: 30px;
                        font-size: 12px;
                        color: #444444;
                    }
                }
            }
            .BottomKf{
                float: right;
                width: 260px;
                height: 65px;
                margin-top: 35px;
                background: url(../images/index/call_rz.jpg) no-repeat scroll 0 0;
                overflow: hidden;
            }
        }
    }
    .BottomNav{
        height: 150px;
        margin: 0 auto;
        background: #F8F8F8;
        p{
            line-height: 35px;
            text-align: center;
            color: #999;
            a{
                font-size: 12px;
                color: #444444;
            }
        }
        .BottomCompany{
            height: 60px;
            p{
                line-height: 18px;
                font-size: 12px;
                a{
                    color: #999;
                }
            }
            .cnzz{
                width: 50px;
                height: 12px;
                line-height: 18px;
                margin: 0 auto; 
                a{
                    display: block;             
                }
            }
        }
        .BottomevAluate{
            height: 42px;
            .Aluate{
                width: 588px;
                height: 42px;
                margin: 0 auto;
                li{
                    float: left;
                    margin: 0 10px;
                }
            }
        }
    }
}
